[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
passlib = {extras = ["bcrypt"], version = "*"}
bcrypt = "4.0.1"
python-jose = {extras = ["cryptography"], version = "*"}
google-generativeai = "*"  # Essencial para o Smart Assist
python-multipart = "*"

[dev-packages]
pytest = "*"
black = "*"
httpx = "*"

[requires]
python_version = "3.11"