[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "==1.0.0"
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
pydantic = "*"
pydantic-settings = "*"
psycopg2-binary = "*"
google-generativeai = "*"

[dev-packages]
black = "*"
flake8 = "*"
httpx = "*"
pytest = "*"

[requires]
python_version = "3.11"
